@font-face {
  font-family: "TTlakes-bold";
  src: url("fonts/TTLakes-Bold.ttf");
}
@font-face {
  font-family: "TTlakes-regular";
  src: url("fonts/TTLakes-Regular.ttf");
}
.grid__body {
  background-color: #f8f8f8;
}
.servis__zag{
  font-family: "TTlakes-regular";
  line-height: 24px;
  letter-spacing: -0.2px;
  font-style: normal;
  background: #f8f8f8;
  padding: 16px 0px 16px 16px;
  background: linear-gradient(270deg, #fff 25%, #f8f8f8 75%);
  border-top: 1px solid #d9fff5;
}
 .servis__zag__zag {
  display: flex;
  justify-content: start;
}
.servis__readmore{
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 32px;
  display: none;
}
.readmore__strelkaniz,
.readmore__strelkaverh {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 0px;
  border: none;
  background: #f8f8f8;
  font-size: 16px;
  font-weight: 500;
}
 .zag__text {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__brend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background: #fff;
    width: 224px;
    height: 72px;
  }
  .menu__brend1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background: #fff;
    width: 224px;
    height: 72px;
  }
  .menu__brend1:hover{
    border-color: aqua;
    transition: all 1.5s ease;
  }
  .menu__brend1:active{
    transform: scale(1.1);
    background: #f8f8f8;
    transition: all 1s ease;
  }
.servis__menu__brend {
  display: none;
}
.swiper-slide{
  max-width: fit-content;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding-top: 16px;
  position: static;
}
 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  --swiper-theme-color: rgba(14, 24, 80, 0.4);
  --swiper-pagination-bullet-size: 12px
}
.sw{
  padding: 16px 0px 16px 16px;
}
@media screen and (min-width: 768px){
  .sw{
    display: none;
  } 
  .servis__zag{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
  }
  .servis__menu__brend {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    overflow: hidden;
    padding: 24px 0px 0px 24px;
    height: 168px;
  }
  .servis__readmore{
    display: flex;
  }
  .readmore__strelkaverh{
    display: none;
  }
  
}
@media screen and (min-width: 1120px) {
  .servis__zag{
    padding-left: 32px;
  }
  .servis__menu__brend {
    grid-column-gap: 32px;
    padding: 24px 0px 0px 32px;
  }
  .servis__readmore{
    padding: 20px 0px 50px 32px;
  } 
}
@media screen and (min-width: 1860px){
//   .servis__readmore{
//   display: none;
// }
}
